/* custom properties */
:root {
    /* modular scale https://every-layout.dev/rudiments/modular-scale/ */
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    /* color palette https://gigazine.net/news/20201127-building-color-palette/ */
    /* gray scale */
    --white: hsl(0, 0%, 100%);
    --gray-3: hsl(0, 0%, 87.5%);
    --gray-2: hsl(0, 0%, 75%);
    --gray-1: hsl(0, 0%, 62.5%);
    --gray0: hsl(0, 0%, 50%);
    --gray1: hsl(0, 0%, 37.5%);
    --gray2: hsl(0, 0%, 25%);
    --gray3: hsl(0, 0%, 12.5%);
    --black: hsl(0, 0%, 0%);

    /* primary */
    --primary-color-3: hsl(217, 55%, 95%);
    --primary-color-2: hsl(217, 55%, 77%);
    --primary-color-1: hsl(217, 55%, 60%);
    --primary-color0: hsl(217, 55%, 43%);
    --primary-color1: hsl(217, 55%, 34%);
    --primary-color2: hsl(217, 55%, 25%);
    --primary-color3: hsl(217, 55%, 15%);
    /* accents */
    /* accents: informative */
    --informative-color-3: hsl(197, 100%, 97%);
    --informative-color-2: hsl(197, 100%, 77%);
    --informative-color-1: hsl(197, 100%, 57%);
    --informative-color0: hsl(197, 100%, 35%);
    --informative-color1: hsl(197, 100%, 27%);
    --informative-color2: hsl(197, 100%, 19%);
    --informative-color3: hsl(197, 100%, 10%);
    /* accents: positive */
    --positive-color-3: hsl(112, 85%, 97%);
    --positive-color-2: hsl(112, 85%, 77%);
    --positive-color-1: hsl(112, 85%, 57%);
    --positive-color0: hsl(112, 85%, 36%);
    --positive-color1: hsl(112, 85%, 27%);
    --positive-color2: hsl(112, 85%, 18%);
    --positive-color3: hsl(112, 85%, 10%);
    /* accents: negative */
    --negative-color-3: hsl(339, 73%, 97%);
    --negative-color-2: hsl(339, 73%, 79%);
    --negative-color-1: hsl(339, 73%, 61%);
    --negative-color0: hsl(339, 73%, 43%);
    --negative-color1: hsl(339, 73%, 32%);
    --negative-color2: hsl(339, 73%, 21%);
    --negative-color3: hsl(339, 73%, 10%);
    /* accents: attentive */
    --attentive-color-3: hsl(49, 95%, 97%);
    --attentive-color-2: hsl(49, 95%, 81%);
    --attentive-color-1: hsl(49, 95%, 65%);
    --attentive-color0: hsl(49, 95%, 49%);
    --attentive-color1: hsl(49, 95%, 37%);
    --attentive-color2: hsl(49, 95%, 25%);
    --attentive-color3: hsl(49, 95%, 13%);

    /* etc */
    --measure: 60ch;
}

/* global default */
*, *::before, *::after {
    color: var(--black);
    max-width: var(--measure);
    line-height: var(--ratio);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, section, header, nav, main, footer {
    max-width: none;
}

button {
    padding: var(--s-5) var(--s-3);
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

:focus {
    outline-offset: var(--s-3);
    outline-color: var(--informative-color-1);
}
